html, body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
	margin:0px;
	padding:0px;
}
@charset "UTF-8";
/* CSS Document */
.content {
  
}
html {
	background-color:#f8f4dc;
}
body {
	font-family: Georgia; 
  margin:0 auto;
    min-width:1200px;
}
.container{
  background-color:;
}
h1 {
	font-weight:normal;
}

.header1{
  text-decoration: none;
}

#logo {
	float:left;
	padding-top:36px;
	padding-right:20px;
	padding-left:105px;
    display:block;
}

#sitename a {
    text-decoration: none;
	margin-top: 0px;
	font-size: 50px;
	color:#378236;
	padding-top:50px;
	font-family:Georgia;
	padding-bottom:50px;
    display:block;
}

#plantbio a {
    text-decoration:none;
    float:right;
    margin-top:50px;
    margin-right:65px;
    font-family:Georgia;
    color:#378236;
    font-size:36px;
    overflow:hidden;
    display:block;
    white-space: nowrap;
}

#uga {
    font-size:20px;
    text-align:right;
    color:#808080;
    margin-top:3px;
}

#menu {
	background-color: #378236;
	height:50px;
	white-space: nowrap;
	overflow: hidden;
  box-shadow: 4px 3px 12px 0px rgba(0,0,0,0.3), inset -2px -2px 7px rgba(0,0,0,0.2);
}

ul#menu {
	margin:0;
	padding:0;
}

ul#menu li {
	list-style: none;
  margin-left:105px;
}

ul#menu li a {
	text-decoration: none;
	font-size: 18px;
	float: left;
	display: block;
	padding: 15px 30px;
	color: #f8f4dc;
}

ul#menu li a:hover {
	color:#378236;
	background-color: #f3dfa3;
  box-shadow bottom: 1px 3px 12px 0px  rgba(0,0,0,0.1);   box-shadow: inset 0px -2px 9px rgba(0,0,0,0.2);
}

#content2{
  width:900px;
  background-color:;
  height:430px;
  margin-top:250px;
  margin:0 auto;
  margin-bottom:100px;
}

#AboutUs {
  width:400px;
  height:100%;
  margin-left=0;
  display:block;
  float:left;
  background-color:;
}

#AboutUs h3 {
  font-size:18px;
	color:#f8f4dc;
  padding:10px;
  background-color:#378236;
  font-weight:normal;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  margin-bottom:20px;
}

#AboutUs h3:hover {
  font-size:18px;
  padding:10px;
  color:#f3dfa3;
  background-color:#378236;;
  font-weight:normal;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  margin-bottom:20px;
}

#AboutUs p {
  text-align:justify;
  margin-bottom:20px
}

#MostRecentPublication {
  width:400px;
  height:100%;
  background-color:;
  display:block;
  float:right;
}

#MostRecentPublication h3 {
	font-size:18px;
  padding:10px;
	color:#f8f4dc;
  background-color:#378236;
  font-weight:normal;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  margin-bottom:20px;
}

#MostRecentPublication h3:hover {
	font-size:18px;
  padding:10px;
	color:#f3dfa3;
  background-color:#378236;
  font-weight:normal;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  margin-bottom:20px;
}

#MostRecentPublication h4 {
  margin-bottom:20px;
}

.journalcover{
	width:250px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:60px;
}

.wrapper {
	width:1200px;
	margin:0 auto;
}

#slider{
	width: 900px;
	height: 450px;
	overflow: hidden;
	margin: 0px auto;
    margin-top:50px;
}

#slideredit {
box-shadow: 0px 1px 10px;
}

#slider > img{
	float:left;
	display:none;
}

.sliderlinkleft {
  font-size:16px;
	padding:7px;
	color:#f8f4dc;
	background-color:#378236;
  float:left;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  width:70px;
  text-align:center;
}

.sliderlinkleft:hover {
  font-size:16px;
	padding:7px;
	color:#378236;
	background-color:#f3dfa3;
  float:left;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  width:70px;
  text-align:center;
}

.sliderlinkright {
  font-size:16px;
	padding:7px;
	color:#f8f4dc;
	background-color:#378236;
	text-decoration: none;
  float:right;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  width:70px;
  text-align:center;
}

.sliderlinkright:hover {
  font-size:16px;
	padding:7px;
	color:#378236;
	background-color:#f3dfa3;
	text-decoration: none;
  float:right;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  width:70px;
  text-align:center;
}

#buttons{
  width:900px;
  height:50px;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:20px;
}

#readmore{
  width:900px;
  height:100px;
  margin:0 auto;
}

.readmoreaboutus {
  font-size:18px;
	padding:7px;
	color:#f8f4dc;
	background-color:#378236;
  float:left;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  width:100px;
  text-align:center;
}

.readmoreaboutus:hover{
  font-size:18px;
	padding:7px;
	color:#378236;
	background-color:#f3dfa3;
  float:left;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  width:100px;
  text-align:center;
}

.readmorepublications {
  font-size:18px;
	padding:7px;
	color:#f8f4dc;
	background-color:#378236;
  float:right;
  margin-right:290px;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  width:100px;
  text-align:center;
  margin-top:10px
}

.readmorepublications:hover {
  font-size:18px;
	padding:7px;
	color:#378236;
	background-color:#f3dfa3;
  float:right;
  margin-right:290px;
	text-decoration: none;
  box-shadow: 0px 2px 5px 0px gray, inset -2px -2px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  width:100px;
  text-align:center;
  margin-top:10px
}

#footer{
  height:50px;
  white-space: nowrap;
	overflow: hidden;
  background-color:#378236;
   box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2), inset 0px -2px 5px rgba(0,0,0,0.2);
  color:#f8f4dc;
}

#copyright {
  margin-top:16px;
  margin-left:135px;
    display:block;
    width:400px;
    float:left;
}

#citationlink{
    display:block;
    float:right;
    margin-top:16px;
    margin-right:120px;
    color:#f8f4dc;
    text-decoration: none;
}
